#container {
	/*background: #fafafa;*/
}

#panel {
	padding-right: 0px;
}

#panelInfo {
	padding: 10px;
	font-size: 16px;
}
#countryTitle {
	font-size: 22px;
}

#legend {
	font-size: 15px;
	margin-top: 200px;
	position: absolute;
}

#zoomButtons {
	float: right;
	margin-top: 12px;
}

#zoom_in, #zoom_out {
	width: 35px;
	height: 24px;
	font-weight: bold;
}

circle {
	fill: #315f8e;
}

.country {
	fill: #e6e6e6;
	stroke: #bababa;
	stroke-width: 0.15pt;
	fill-opacity: 1;
}

.selected {
	fill: gray;
}

.ticks {
	font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
	stroke-linecap: round;
}

.track {
	stroke: gray;
	stroke-opacity: 0.3;
	stroke-width: 10px;
}

.track-inset {
	stroke: #e6e6e6;
	stroke-width: 8px;
}

.track-overlay {
	pointer-events: stroke;
	stroke-width: 50px;
	stroke: transparent;
	cursor: crosshair;
}

.handle {
	fill: #e6e6e6;
	stroke: purple;
	stroke-opacity: 0.5;
	stroke-width: 1.25px;
}

.label {
	font-weight: normal;
}
