/* Fonts
* --------------------------------------- */

@font-face {
  font-family: 'Canela Bold';
  src: url('./fonts/CanelaWeb-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Canela';
  src: url('./fonts/CanelaWeb-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Medium';
  src: url('./fonts/AtlasGroteskWeb-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Atlas Grotesk Regular';
  src: url('./fonts/AtlasGroteskWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Atlas Grotesk Light';
  src: url('./fonts/AtlasGroteskWeb-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Style for fullpage
* --------------------------------------- */
#fp-nav ul li a span {
	background:#1a1a1a;
}
#fp-nav ul li .fp-tooltip {
	color: #1a1a1a;
}
body {
	font-family: 'Atlas Grotesk Light' !important;
	color: #1a1a1a;
}

/* Style for section headers
* --------------------------------------- */
.header h1 {
	font-size: 5em;
	font-family: 'Canela', sans-serif;
	font-weight:100;
	margin:0;
}
.header h2 {
	font-size: 0.9em;
	font-family: Canela;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}
#main-title {
	font-size: 2em;
}
.header {
	text-align: center;
	padding-left: 0px;
}
.header p {
	font-size: 2em;
	font-weight: 100;
}
#main-title p {
	font-size: 1em;
}

/* Style for section content
* --------------------------------------- */
.content h1 {
	font-size: 300%;
	font-weight:100;
	font-family: Canela;
}
.content {
	text-align:left;
	padding-left: 100px;
	padding-right: 100px;
	font-weight:400;
}
.content p {
	font-size: 120%;
	width: 80%;
}