/* Attack chart styling
* --------------------------------------- */
#chart-attack {
	margin-top: 30px;
}
.dc-chart .pie-slice { /* Labels on select */
	fill: #fff;
}
.dc-chart .selected path, .dc-chart .selected circle { /* No border on select */
	stroke-width: 0;
}
.dc-legend {
	font-size: 80%;
	margin-bottom: 50px;
}

/* Target chart styling
* --------------------------------------- */
#chart-target {
	margin-top: 10px;
}
.dc-chart g.row text { /* Labels */
	fill: #000;
}
.dc-chart g.row rect { /* Rect fill */
	fill: #D2505E;
}
.dc-chart g.row rect.deselected { /* Rect deselected */
	fill: #ccc;
}