.treemap {
  float: left;
}

.treemap svg {
  font: 10px sans-serif;
}

.treemap form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: none;
}

#treemap-legend {
  width: 250px;
  height: 160px;
  float: right;
  margin-left: 30px;
  margin-top: 75px;
}

.toggler {
    width: 250px;
    margin-top: 200px;
    float: right;
}

.legend-div {
  float: right;
}

.legend-title {
    margin-bottom: 10px;
}

.legend {
    font-size: 1em;
    border-radius: 10px 10px 10px 10px;
    padding-top: 9px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 7px;
    text-align: center;
}

.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 40px;
    overflow: hidden;
}

.toggler label {
  font-weight: 400;
  font-size: 12px;
}

.switch-title {
  margin-bottom: 6px;
}